@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

::-webkit-scrollbar {
  display: none;
}

/* * {
  outline: red dotted 0.1vmax;
} */

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: rgba(12, 12, 12, 1);
  height: 100vh;
  width: 100%;
  background-image: url('./assets/images/stars.jpg');
  background-size: contain;
}

body {
  display: flex;
  margin: 2vh 2vw 2vh 2vw;
  height: 95%;
  width: 95%;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 4vmax;
  color:rgb(255, 255, 255);
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 1.3vmax;
  color:rgb(255, 255, 255);
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
}

h3 {
  font-size: 1vmax;
  color:rgb(255, 255, 255);
  font-family: 'PT Sans Narrow', sans-serif;  
}

h4 {
  font-size: 0.8vmax;
  color:rgb(255, 255, 255);
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
}

p {
  font-size: 0.5vmax;
  color: white;
  font-family:'PT Sans Narrow', sans-serif;
  font-weight: bold
}

button {
  border: none;
  background-color: rgba(0,0,0,0);
  color: white;
  font-family:'PT Sans Narrow', sans-serif;
  font-weight: bold
}

.arrowButton {
  height: fit-content;
  width: fit-content;
  .icon {
    font-size: 2vmax;
  }
}

.link {
  font-family:'PT Sans Narrow', sans-serif;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.title {
  font-size: 2vmax;
  font:bold
}

.subtitle {
  font-size: 1vmax;
  font:lighter;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 2vh;
  .header {
    margin: 1vh 0 1vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .title {
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .solCounter {
        color:rgba(255, 110, 5, 1);
      }
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: fit-content;
      width: 20vw;
      overflow: hidden;
      .link {
        cursor: pointer;
        height: fit-content;
        width: fit-content;
        .text {
          text-align: center;
        }
      }
    }
  }
}

.footer {
  display: flex;
  bottom: 0;
  width: 100%;
  margin: 2vh 0 2vh 0;
  justify-content: center;
  align-items: center;
}

.footer .nasaLogo {
  width: 3vw;
}

.homeContainer {
  height: 100%;
  width: 100%;
  gap: 0 5vw;
  display:flex;
  justify-content: center;
  align-items: center;
  .intro {
    gap: 5vh 0;
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    .info {
      display: flex;
      flex-direction: column;
      height: fit-content;
      gap: 1vh;
      justify-content: space-between;
      .link {
        width: fit-content;
      }
    }
  } 
  .recentPhoto {
    width: 100%;
    height: 100%; 
    display: flex;
    gap: 5vh 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .photoContainer {
      border-radius: 1vmax;
      overflow: hidden;
      object-fit: cover;
      .photo {
        width: 100%;
        height: 100%;
        max-height: 55vh;
        aspect-ratio: 10/9;
      }
    }
  }
}

.aboutContainer {
  z-index: 1;
  height: 100%;
  width: 100%;
  display:flex;
  gap: 10vw;
  margin: auto;
  justify-content: center;
  .info {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5vh;
  }
  .rover {
    gap: 2vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .model {
      border-radius:1vmax;
      border: none;
      overflow:hidden;
      margin: 3vmax;
      margin: 0;
    }
  }
}

.mapContainer {
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.photosContainer {
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
  .photosContainer .toggler {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
  }

  .photosContainer .carouselContainer {
    display: flex;
    gap: 3vh;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
  }
    .photosContainer .carouselContainer .photoContainer {
      display: flex;
      border-radius: 1vmax;
      overflow: hidden;
      object-fit: cover;
    }

    .photosContainer .carouselContainer .photoContainer .photo {
      width: 100%;
      height: 100%;
      max-height: 45vh;
      aspect-ratio: 12/9;
    }

    .photosContainer .carouselContainer .picker {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        border-radius: 1vmax;
        align-items: center;
        justify-content: center;
        object-fit: fill;
        gap: 2vh 0;
    }
    .photosContainer .carouselContainer .picker .photos {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 1vw;
      width: 100%;
      height: 100%;
    } 

      .photosContainer .carouselContainer .picker .photos .photo {
        height: 4vmax;
        align-items: center;
        justify-content: center;
        border-radius: 1vmax;
        aspect-ratio: 3/2;
      } 
      .photosContainer .carouselContainer .picker .pagination {
        display: flex;
        width: 100%;
        gap: 1vw;
        justify-content: center;
        align-items: center;
      }

  .photosContainer .galleryContainer {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 2vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    .photosContainer .galleryContainer .gallery {
      width: fit-content;
      height: 100%;
      display: grid;
      gap: 0.5vh 3vw;
      grid-template-columns: repeat(4, 12vw);
      border-radius: 1vmax;
    }
      .photosContainer .galleryContainer .gallery .photo {
        width: 100%;
        height: auto;
        max-height: 20vh;
        border-radius: 1vmax;
        aspect-ratio: 13/9;
      }
    .photosContainer .galleryContainer .pagination {
      width: 100%;
      height: fit-content;
      display: flex;
      gap: 2vw;
      justify-content: center;
      align-items: center;
    }
    .photosContainer .galleryContainer .popoutContainer {
      z-index: 10;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
    }
      .photosContainer .galleryContainer .popoutContainer .popout {
        z-index: 12;
        height: 80%;
        width: 80%;
      }
        .photosContainer .galleryContainer .popoutContainer .popout:hover {
          cursor: default;
        }
      .photosContainer .galleryContainer .popoutContainer .photo {
        z-index: 15;
        width: 100%;
        max-height: 80vh;
      }
      .photosContainer .galleryContainer .popoutContainer .exitButton {
        z-index: 20;
        background: rgb(116, 116, 116,0.2);
        border: none;
        border-radius: 1vmax;
      }
  .photosContainer .galleryContainer .popoutContainer:hover {
    cursor: pointer;
  }

/* Map*/
.map {
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 1vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  .zoomButtons {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    top:2%;
    left:94%;
    gap: 0.15vh 0;
    .resetZoomButton {
      display: flex;
      height: 3.1vh;
      justify-content: center;
      align-items: center;
      width: 2vw;
      border-radius: 0.15vmax;
      background-color: white;
    }
    .resetZoomButton:active {
      background: rgb(131, 131, 131);
    }
  }
}

.loading {
  height: 100%;
  width: 100%;
}
