@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

::-webkit-scrollbar {
  display: none;
}

/* * {
  outline: red dotted 0.1vmax;
} */

* {
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: rgba(12, 12, 12, 1);
  height: 100vh;
  width: 100%;
  background-image: url('./assets/images/stars.jpg');
  background-size: contain;
}

body {
  display: flex;
  margin: 2vh 2vw 2vh 2vw;
  height: 95%;
  width: 95%;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 4vmax;
  color:rgb(255, 255, 255);
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 1.3vmax;
  color:rgb(255, 255, 255);
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
}

h3 {
  font-size: 1vmax;
  color:rgb(255, 255, 255);
  font-family: 'PT Sans Narrow', sans-serif;  
}

h4 {
  font-size: 0.8vmax;
  color:rgb(255, 255, 255);
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
}

p {
  font-size: 0.5vmax;
  color: white;
  font-family:'PT Sans Narrow', sans-serif;
  font-weight: bold
}

button {
  border: none;
  background-color: rgba(0,0,0,0);
  color: white;
  font-family:'PT Sans Narrow', sans-serif;
  font-weight: bold
}

.arrowButton {
  height: fit-content;
  width: fit-content;
  .icon {
    font-size: 2vmax;
  }
}

.link {
  font-family:'PT Sans Narrow', sans-serif;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.title {
  font-size: 2vmax;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 2vh;
  .header {
    margin: 1vh 0 1vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .title {
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .solCounter {
        color:rgba(255, 110, 5, 1);
      }
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: fit-content;
      width: 20vw;
      overflow: hidden;
      .link {
        cursor: pointer;
        height: fit-content;
        width: fit-content;
        .text {
          text-align: center;
        }
      }
    }
  }
}

.footer {
  display: flex;
  bottom: 0;
  width: 100%;
  margin: 1vh 0 1vh 0;
  justify-content: center;
  align-items: center;
  .nasaLogo {
    width: 3vw;
  }
}

.homeContainer {
  height: 100%;
  gap: 5vw;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  .intro {
    gap: 5vh;
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    .info {
      display: flex;
      flex-direction: column;
      height: fit-content;
      gap: 2vh;
      justify-content: space-between;
      .link {
        width: fit-content;
      }
    }
  } 
  .recentPhoto {
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .photoContainer {
      border-radius: 1vmax;
      overflow: hidden;
      object-fit: cover;
      .photo {
        width: 100%;
        height: 100%;
        max-height: 60vh;
      }
    }
  }
}

.aboutContainer {
  z-index: 1;
  height: 100%;
  width: 100%;
  display:flex;
  gap: 10vw;
  margin: auto;
  justify-content: center;
  .info {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5vh;
  }
  .rover {
    gap: 2vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .model {
      border-radius:1vmax;
      border: none;
      overflow:hidden;
      margin: 3vmax;
      margin: 0;
    }
  }
}

.mapContainer {
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.photosContainer {
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .toggler {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
  }
  .carouselContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    .photoContainer {
      display: flex;
      border-radius: 1vmax;
      overflow: hidden;
      object-fit: cover;
      .photo {
        width: 100%;
        height: 100%;
        max-height: 50vh;
      }
    }
    .picker {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: fit-content;
      border-radius: 1vmax;
      align-items: center;
      justify-content: center;
      object-fit: fill;
        .photo {
          height: 4vmax;
          align-items: center;
          justify-content: center;
          border-radius: 1vmax;
      }
    }
    .pagination {
      display: flex;
      gap: 1vw;
      justify-content: center;
      align-items: center;
    }
  }
  .galleryContainer {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 2vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .gallery {
      width: fit-content;
      height: 100%;
      display: grid;
      gap: 0.5vh 3vw;
      grid-template-columns: repeat(3, 10vw);
      border-radius: 1vmax;
      .photo {
        width: 100%;
        height: auto;
        max-height: 15vh;
        border-radius: 1vmax;
      }
    }
    .pagination {
      width: 100%;
      height: 100%;
      display: flex;
      gap: 2vw;
      justify-content: center;
      align-items: center;
    }
  }
  .popoutContainer {
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    .popout {
      z-index: 12;
      height: fit-content;
      width: fit-content;
      .photo {
        z-index: 15;
        width: 80vh;
      }
    }
    .popout:hover {
      cursor: default;
    }
    .exitButton {
      z-index: 20;
      background: rgb(116, 116, 116,0.2);
      border: none;
      border-radius: 1vmax;
    }
  }
  .popoutContainer:hover {
    cursor: pointer;
  }
}

.map {
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 1vmax;
}

.loading {
  height: 100%;
  width: 100%;
}

/* Map*/
.btnReset {
  z-index: 0;
  background: rgba(255, 255, 255);
  border: none;
  position:relative;
  overflow: none;
  left:5%;
  top:88%;
  height:10%;
  width:10%;
  margin:-1vmax;
  margin-left:0;
  border-radius: 1vmax;
  color: white;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
}
.btnReset:active {
  background: rgb(131, 131, 131);
}